$base-accent: #9c27b0;
$base-font-family: "Roboto", "RobotoFallback", "Noto Kufi Arabic", "Helvetica", "Arial", sans-serif;
$base-text-color: #fff;
$base-label-color: #fff;
$base-icon-color: rgba(255, 255, 255, 0.54);
$base-spin-icon-color: rgba(255, 255, 255, 0.54);
$base-bg: #363640;
$base-border-color: #515159;
$base-success: #8bc34a;
$base-warning: #ffc107;
$base-danger: #f44336;
$base-hover-color: #fff;
$base-hover-bg: rgba(255, 255, 255, 0.05);
$base-focus-color: rgba(0, 0, 0, 0.87);
$base-focus-bg: rgba(255, 255, 255, 0.05);
$base-link-color: #9c27b0;
$base-border-radius: 4px;
$button-normal-color: #fff;
$button-normal-bg: #363640;
$button-normal-hover-bg: #494956;
$button-normal-focused-bg: #494956;
$button-normal-active-bg: #7d7d92;
$button-default-color: rgba(0, 0, 0, 0.87);
$button-default-bg: #9c27b0;
$button-default-hover-bg: #ba31d1;
$button-default-focused-bg: #ba31d1;
$button-default-active-bg: #d582e3;
$button-danger-color: rgba(0, 0, 0, 0.87);
$button-danger-bg: #f44336;
$button-danger-hover-bg: #f6695f;
$button-danger-focused-bg: #f6695f;
$button-danger-active-bg: #f99b94;
$button-success-color: rgba(0, 0, 0, 0.87);
$button-success-bg: #8bc34a;
$button-success-hover-bg: #a0ce6b;
$button-success-focused-bg: #a0ce6b;
$button-success-active-bg: #bbdc95;
$list-group-color: rgba(255, 255, 255, 0.6);
$list-border-color: #515159;
$list-group-header-bg: rgba(54, 54, 64, 0);
$list-normal-color: #fff;
$list-expanded-group-color: #9c27b0;
$list-item-hover-bg: rgba(255, 255, 255, 0.05);
$list-item-selected-bg: rgba(110, 110, 128, 0.5);
$list-item-active-bg: #656577;
$fieldset-field-label-color: white;
$tabs-tab-color: rgba(255, 255, 255, 0.54);
$tabs-tab-selected-color: #9c27b0;
$tabs-selected-tab-bottom-border-color: #9c27b0;
$tabs-tab-bg: #2f2f38;
$tabs-hovered-tab-bg-color: #464653;
$scrollable-scroll-bg: rgba(112, 112, 133, 0.7);
$badge-color: rgba(0, 0, 0, 0.87);
$badge-bg: #9c27b0;
$navbar-tab-color: #fff;
$navbar-tab-selected-color: #fff;
$navbar-tab-bg: #2f2f38;
$navbar-tab-selected-bg: #363640;
$overlay-content-bg: #363640;
$overlay-shader-bg: rgba(0, 0, 0, 0.61);
$textbox-search-icon-color: rgba(255, 255, 255, 0.54);
$texteditor-color: #fff;
$texteditor-placeholder-color: gray;
$texteditor-bg: rgba(255, 255, 255, 0.04);
$texteditor-focused-bg: rgba(255, 255, 255, 0.04);
$texteditor-border-color: rgba(255, 255, 255, 0.42);
$texteditor-hover-border-color: #fff;
$texteditor-focused-border-color: #9c27b0;
$texteditor-hover-bg: rgba(255, 255, 255, 0.07);
$load-indicator-segment-bg-color: #9c27b0;
$treeview-focused-bg: rgba(255, 255, 255, 0.05);
